/* Write your CSS here! */
body {
    display:block;
    margin: 8px;
    padding: 20px;;
}
p{
    color: black;
    background-color:aqua
}
#mainHeading {
    color:red;
}

.funParagraph {
    color:green;
}
image {
    position:fixed;
}
